<!DOCTYPE html>
<html>
  <head>
    <title>Omise: Console</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdn1.omise.co/fonts/inconsolata.css">
    <script src="https://cdn.omise.co/omise.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "console/buffer" %>
    <%= yield %>
  </body>
</html>
